body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  width: 100%;
  height: fit-content;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contacts {
  display: flex;
}

.contacts__foto {
  width: fit-content;
}

.contacts__foto img {
  width: 200px;
}